table th,td {
  font-size: 1.2rem;
  border: 1px solid #000000;
}

.schedule{
  border-collapse:collapse;
}

th {
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0f0;
}
td {
  padding: 10px;
  text-align: left;
}
