body {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

/*--------------------------------
レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}

/* .section:nth-of-type(odd) {
  background-color: #fff;
} */

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #28385e;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(154, 166, 216, 0.1);
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: 0.05em;
}

.header-logo a {
  color: #eee;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: 0.3s;
  letter-spacing: 0.05em;
  color: #eee;
}

.header-nav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: '';
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #eee;
}

.header-nav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
メインビジュアル
---------------------------------*/
.main-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
}
.slidein{
  animation:slideIn 2s cubic-bezier(0.25,1,0.5,1)forwards;
}

@keyframes slideIn{
  0%{transform:translateX(-180px);
  opacity: 0;}
  100%{transform: translateX(0);}
  40%,100%{
    opacity: 100%;
  }
}

.main-visual-inner {
  padding: 0 40px;
}

.main-visual-title {
  font-size: 60px;
  font-weight: bold;
  font-family: Hiragino Sans;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
  color: #eee;
}

.main-visual-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
  color: #eee;
}

.main-visual-subtitle::before {
  content: '★';
}
.main-visual-subtitle::after {
  content: '★';
}

.main-visual-profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
}

.main-visual-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
@media screen and (max-width:780px) {
  .main-visual-img{
    width: 35%;
    padding-top: 50px;
  }
}


.main-visual-img img {
  border-radius: 50%;
}


.main-visual-text {
  flex: 1;
  padding: 30px;
}

.main-visual-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.main-visual-title-sub {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.main-visual-img-sub {
  width: 15%;
  margin-right: 20px;
}

.main-visual-img-sub img {
  border-radius: 50%;
}

h2 {
  animation: bounce 1s 2;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/*--------------------------------
Works
---------------------------------*/
.works{
  margin-top: -105px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.5873%;
  margin-bottom: 40px;
  color: #333;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.btn-denim {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #28385e;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 2px #516C8D;
  /* box-shadowで外枠を */
  transition: transform 0.5s linear 0s;
}
.btn-denim:focus {
  transform: scale(0.8);
}

a:hover {
  opacity: 0.6;
}

.btn-box {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  font-size: 16px;
  color: #516C8D;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  position: relative;
  border: 2px solid #516C8D;
  transition: 0.4s;
}

.btn-box:hover {
  border: 2px solid transparent;
  color: #fff;
}

.btn-box:before,
.btn-box:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.7s;
}

.btn-box:before {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: 100% 0%;
}

.btn-box:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
  transform: scale(1);
}

/*--------------------------------
Skill
---------------------------------*/
.skill{
  margin-top: -178px;
}

.skill-text{
  text-align: center;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
  background-color: #ccc;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
  animation: kaiten 1s ease 0s 2 normal;
}
@keyframes kaiten {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.skill-name {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.8px;
}

/*--------------------------------
PHOTO
---------------------------------*/
.photo-content{
  margin-top: -78px;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  transition: transform 1s ease-in-out 0s;
}

.photo-content img {
  width: 300px;
}
.photo-content img:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 780px) {
  .flex-container {
    flex-direction: column;
  }
}

/*--------------------------------
About
---------------------------------*/

.about-content{
  margin-top: -48px;
}

table {
  font-size: 1.2rem;
  margin: auto;
}

tr {
  background-color: #ccc;
}
th,
td {
  padding: 10px;
}

/*--------------------------------
Contact
---------------------------------*/

.contact-content{
  margin-top: -63px;
}

.contact-form {
  display: flex; /*Flexboxレイアウト*/
  flex-direction: column;
  max-width: 500px;
  padding:20px 50px 10px;
  margin: 0 auto 10px;
  background-color: #ccc;
  border: #fff solid 1px;
}

.form-title {
  margin-bottom: 2px;
  font-size: 1.2rem;
}

.contact-item input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.contact-item select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60%;
}

.contact-item textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 100px;
  width: 100%;
}

.must {
  margin-left: 5px;
  padding: 2px;
  font-size: 15px;
  background-color: #dedede;
  color: #516C8D;
  border-radius: 5px;
  border: 1px solid #293b6a;
}

.btn {
  width: 100%;
  padding: 10px 50px;
  background-color: #dedede;
  font-size: 1.2rem;
  color: #293b6a;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/*--------------------------------
ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #28385e;
  margin-top: -44px;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #516C8D;
  margin-top: 1px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #fff;
}




.pos{
  /* background-color: #5a6fa3; */
  width: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.pos p{
  text-align: center;
  margin-top: -5px;
  color: #28385e;
}


/* sub */


.inner2{
  margin: 20px;
  text-align: left;
  color: #293b6a;
}

.original-li{
  color: #293b6a;
}
.original-li li{
  border-bottom: #fff;
}
